#![enable(implicit_some)]
(
    size:      (4.0, 4.0),
    speed:     (250.0, 250.0),
    max_speed: (500.0, 500.0),
    base_friction: (
        friction_x: 250.0,
        friction_y: 250.0,
    ),
    health: (
        health: 10,
        max_health: 10,
    ),
    health_display: (
        offset: (0.0, 0.0),
        z: 2.0,
        size: (96.0, 32.0),
        color: (1.0, 0.0, 0.0, 1.0),
        font_size: 24.0,
        anchor: BottomLeft,
        pivot: BottomLeft,
    ),
)
